{% extends "base.html" %}

{% block content %}
    <h2>About the Search Engine and the project</h2>
    <p>    The project was made for the Web Information Retrieval course of Tsinghua University by Catherine Xu.
        This Search Engine lets you look for wines.
        You can search for a specific wine from a winery like ' ' or just from a country, varietal type, aroma, taste etc. 
        You can also add a score condition, by showing wines with a score higher than 50,75 or 90.
        For the price, you can put either a lower and/or an upper limit.
    </p>

    <br>
    Warning: Drink alcohol in moderation :)
    <div id="page-wrapper"></div>
{% endblock %}