<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Lambent 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140119

-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> </title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{url_for('static',filename='fonts/font.css')}}" rel="stylesheet" />

<!--TODO bootstrap should be put after default! BUT removes the footnote part of page-->
<link href= "{{url_for('static',filename='css/bootstrap.min.css')}}" rel= "stylesheet" type= "text/css" >
<link href="{{url_for('static',filename='css/default.css')}}" rel="stylesheet" type="text/css" media="all" />
<link href="{{url_for('static',filename='css/fonts.css')}}" rel="stylesheet" type="text/css" media="all" />


<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
            {% if title %}
            <h1><a href="#">{{ title }}</a></h1>
            {% else %}
            <h1><a href="#">WineSearch - Query</a></h1>
            {% endif %}
			<div id="menu">
				<ul>
                    <li {% if request.path == "/index" or request.path == "/" %} class="active"{% endif %}>
                        <a href="/index">Home</a>
                    </li>
                    <li {% if request.path=="/about" %} class="active"{% endif %}>
                        <a href="/about">About</a>
                    </li>


				</ul>
			</div>
		</div>
	</div>
</div>


<div id="page-wrapper">
	<div id="welcome" class="container">
            
            {% block content %}{% endblock %}
	</div>
</div>

<div class="wrapper">
	{% block results%}{% endblock %}

</div>


<div id="copyright">
	<p> Search Engine by Catherine Xu. |Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>

</div>
</body>
</html>
