{% extends "base.html" %}

{% block content %}
<div class="center">
    <h1>Find the perfect Wine for you</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.query }}<br>
            {{form.score.label}}: {{form.score}} <br>
            Price {{form.price_l}} <b>-</b> {{form.price_h}}
            <br>

        </div>
        <br>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}

{% block results %}{% endblock %}